@using JacksonShul.Models
@model IEnumerable<Response>

@foreach (Response r in Model)
{
    if (r.Status == "Approved")
    {
    <h1>Your payment was approved</h1>
    }
    else if (r.Status == "Declined")
    {
    <h1>Your payment was declined</h1>
    }
    else if (r.Status == "Error")
    {
    <h1>There was an error with your payment</h1>
    <h3>@r.Error</h3>
    }
    <h3>Your reference number is @r.RefNum</h3>
}




