@model JacksonShul.Models.HomePageViewModel

@if(!String.IsNullOrEmpty(@Model.Notify)){
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @Model.Notify
</div>
}
<div class="jumbotron">
    <h3>Welcome to the Beis Medrash Of Jackson Website!</h3>

    <img src="https://cdn.theyeshivaworld.com/wp-content/uploads/2017/11/Capture-6.jpg" height="200" width="250">
    <br />
    @foreach (var m in Model.Messages)
    {
        if (m.Main)
        {
            <h2>@m.Story</h2>
        }

    }
    <br />
    <h3>Announcements</h3>
    <br />
    @foreach (var m in Model.Messages)
    {
        if (!m.Main)
        {
            <h4>@m.Story</h4>
        }

    }
    
    </div>
