<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2>Please enter your info to sign up for a new account.</h2>
            <Form method="post" action="signup">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control name" name="firstname" id="firstname" />
                    <div class="invalid-feedback" hidden>
                        <font color="red">Please provide a valid first name</font>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control name" name="lastname" id="lastname" />
                    <div class="invalid-feedback" hidden>
                        <font color="red">Please provide a valid last name.</font>
                    </div>
                </div>
                <div class="form-group">
                    <label>Cell:</label>
                    <input type="text" class="form-control" name="cell" id="cell" />
                    <div id="invalid-cell" hidden>
                        <font color="red">Please provide a valid cell.</font>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" id="email" />
                    <div id="invalid-email" hidden>
                        <font color="red">Please provide a valid email.</font>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <p>must be at least 6 charachters</p>
                    <input type="password" class="form-control" name="password" id="password" />
                    <div id="invalid-password" hidden>
                        <font color="red">Please provide a valid password.</font>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" id="password2" />
                    <div id="invalid-copy" hidden>
                        <font color="red">your password does not match</font>
                    </div>
                </div>
                <button type="submit" disabled id="submit-button" class="btn btn-primary">Sign Up</button>
            </Form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/site-scripts/signup.js"></script>
}

