@model JacksonShul.Data.Payment

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well" id="hi">
            <form id="payment-form" method="post" action="/payment/index">
                <input type="hidden" name="memberid" value="@Model.MemberId" />
                <input type="hidden" name="expenseid" value="@Model.ExpenseId" />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4>Donate For @ViewBag.expenseName</h4>
                        <div class="input-group" style="margin-left: 40px;">
                            <span class="input-group-addon">$</span>
                            <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only" min="1" style="width: 100px"
                                   name="amount" class="form-control" id="amount">
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <label>One Time</label>
                        <input type="radio" id="one-time" name="fake" class="fake" />
                        <br />
                        <label>Monthly</label>
                        <input type="radio" id="repeat" name="fake" class="fake" />
                        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only" style="margin-left: 10px; width: 50px" min="2" name="count" id="count" />
                        <label>Donations <font color="red">*</font></label>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <font size="1">Pay By Check</font>
                        <label class="switch">
                            <input id="payment-method" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <font size="1">Pay By Card</font>
                    </div>
                </div>
                <input type="hidden" id="credit" name="credit">
                <input type="hidden" id="name" name="name">
                <br />
                <br />
                <div id="cc" style="display:none">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h3>Enter your card information:</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Name on card</label>
                            <input type="text" style="border: 1px solid black" class="form-control" id="nameR">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Card number</label>
                            <iframe width="265" height="30" data-ifields-id="card-number" id="card-token" data-ifields-placeholder="" src="https://cdn.cardknox.com/ifields/ifield.htm"></iframe>
                            <input data-ifields-id="card-number-token" name="xCardNum" type="hidden" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Address</label>
                            <input type="text" style="border: 1px solid black" class="form-control" id="street" name="street" placeholder="1234 Main St">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Zipcode</label>
                            <input type="text" style="border: 1px solid black" class="form-control" id="zipcode" name="zipcode">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>CVV</label>
                            <br />
                            <iframe width="265" height="30" data-ifields-id="cvv" id="cvv-token" data-ifields-placeholder="" src="https://cdn.cardknox.com/ifields/ifield.htm"></iframe>
                            <input data-ifields-id="cvv-token" name="xCVV" type="hidden" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-2 col-md-offset-4">
                            <label>Expiration month</label>
                            <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only" style="border: 1px solid black; width: 60px;" class="form-control" id="month">
                            <small class="text-muted">Two digits</small>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Expiration year</label>
                            <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only" style="border: 1px solid black; width: 60px;" class="form-control" id="year">
                            <small class="text-muted">Two digits</small>
                        </div>
                    </div>
                    <input type="hidden" name="exp" id="exp">
                    <label id="transaction-status"></label>
                    <label data-ifields-id="card-data-error" style="color: red;"></label>
                    <div class="row">
                        <div align="center">
                            <button id="submit-btn" disabled style="margin-left: 300px;" class="btn btn-primary btn-lg donate" type="submit">Donate</button>
                        </div>
                    </div>
                </div>
                <div id="check">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h3>Enter your check information:</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Name</label>
                            <input type="text" style="border: 1px solid black" class="form-control" id="nameH">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Account number</label>
                            <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="border: 1px solid black" class="form-control" id="account" name="account">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <label>Routing number</label>
                            <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="border: 1px solid black" class="form-control" id="routing" name="routing">
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div align="center">
                        <button id="check-btn" disabled style="margin-left: 300px;" class="btn btn-success btn-lg donate" type="submit">Donate</button>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <h6><font color="red">*</font> Initial donation will be at time of transaction, subsequent donations will be at the first of each month.</h6>
            </form>
        </div>
    </div>
</div>










@section scripts {
    <script src="https://cdn.cardknox.com/ifields/ifields.min.js"></script>
    <script src="~/Scripts/site-scripts/donate.js"></script>
}
