@model JacksonShul.Models.HomePageViewModel

@if (!String.IsNullOrEmpty(@Model.Message))
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model.Message
    </div>
}
<div class="jumbotron">
    
    <h1> You are a "bessere" mench</h1>

</div>
