<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/payment/monthlypayments">
            <input type="password" name="password" class="form-control"placeholder="Password" />
            <br />
            <button class="btn btn-danger">Make Monthly Payments</button>
        </form>
    </div>
</div>
