@using JacksonShul.Data
@model IEnumerable<Member>


<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Get Info</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Cell</th>
        <th>Email</th>
    </tr>
    @foreach (Member m in Model)
    {
    <tr>
        <td><a href="/admin/getbyid?id=@m.Id" class="btn btn-info">Get Info</a></td>
        <td>@m.FirstName</td>
        <td>@m.LastName</td>
        <td>@m.Cell</td>
        <td>@m.Email</td>
    </tr>
    }


</table>







