<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JacksonShul.Data.Properties.Settings.JacksonShulConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=JacksonShul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>